# Настройки базы данных
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=your_db_name_here
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_HOST=localhost
DB_PORT=5432

# Секретный ключ Django
SECRET_KEY=your_secret_key_here

# Режим отладки
DEBUG=True

# Разрешенные хосты
ALLOWED_HOSTS=localhost,127.0.0.1

# Другие настройки (опционально)
EMAIL_HOST_USER=your_email_host_user_here
EMAIL_HOST_PASSWORD=your_email_host_password_here